/*** PRIMARY SECTION ***/
#primary-section {
    color: $primary-color;
    background-image: linear-gradient(to right, deeppink,rgb(247, 114, 134), rgb(250, 166, 179));

    .primary-container {
        text-transform: uppercase;
    }

    .primary-description {
        font-size: 2.5rem; 
    }

    .primary-img {
        animation: from-right 1.2s ease;
    }

    @keyframes from-right {
        0%{ opacity: 0;
            transform: translateX(80px);
        } 
        100% {
            opacity: 1;
            transform: translateX(0px);
        }   
    }   
}

/*** SECONDARY SECTION ***/
#secondary-section {
    color: $secondary-color;
    background-image: linear-gradient(#000000, #1f1b1b);

    .secondary-container {
        text-transform: uppercase;
    }
}